body {
  font-family: "Lilita One", sans-serif;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 1rem 1rem 1rem 1rem;
  color: #355467;
  background-color: #f5fbf3;
  text-align: center;
}

form {
  margin-bottom: auto;
}

form input {
  width: 20rem;
  height: 3.5rem;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #355467;
  background-color: aliceblue;
}


form button {
  font-size: 2rem;
  border-radius: 1.5rem;
  width: 15rem;
  height: 3.5rem;
  padding: 0;
  margin: 1rem 1rem 1rem 1rem;
  background-color: azure;
  color: #355467;
}

form button:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.details-wrapper {
  background-image: linear-gradient(to right, #f3b07c, #fcd283);
  background-color: rgba(255, 255, 255, 0.7);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3rem;
  margin: 0% auto;
  width: 50%;
  box-shadow: -3rem 1rem 6rem rgba(0, 0, 0, 0.1);
}

.details-wrapper > * {
  background-color: rgba(255, 255, 255, 0.5);
  border: solid;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

img {
  height: 10rem;
  width: 10rem;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.fa-droplet {
  font-size: 2.5rem;
  background-clip: text;
  color: lightskyblue;
  padding: 0 1rem;
}

.fa-wind {
  font-size: 3rem;
  background-clip: text;
  color: gray;
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  .details-wrapper {
    margin: 0% auto;
    width: auto;
  }
}