.weather-container {
  width: 35rem;
  height: 65rem;
  background-image: linear-gradient(to right, #f3b07c, #fcd283);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 3rem;
  padding: 2rem;
  box-shadow: -3rem 1rem 6rem rgba(0, 0, 0, 0.1);
}

.details img{
  display: none;
}

.search {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.search input {
  width: 25rem;
  height: 3.5rem;
  border-radius: 1.5rem;
  padding: 1rem 3rem 1rem 1rem;
  font-size: 1.6rem;
  position: relative;
  margin: 1rem 1rem 1rem 1rem;
}

.search input::placeholder {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.search button {
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  font-size: 1.5rem;
  color: #355467;
  cursor: pointer;
  border-radius: 1.5rem;
  width: 12rem;
  height: 3.5rem;
  letter-spacing: 0.1rem;
  margin: 1rem 1rem 1rem 1rem;
  background-color: azure;
}

.search button:hover {
  background-color: aliceblue;
}

.location {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.location i{
  font-size: 2rem;
  color: #355467;
}