* {
    margin: 1rem 1rem 1rem 1rem;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    background-color: #f5fbf3;
    width: 100%;
    align-content: center;
    text-align: center;
    color: #355467;
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

html {
    font-size: 62.5%;
}
