body {
    background-color: #FDFDA9;
    color: #8B0000;
    font-family: "Corben", serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3 {
    color: #00008B;
}

.description {
    width: 600px;
}

.left {
    width: 600px;
    float: left;
    margin-top: 30px;
}

.right {
    width: 600px;
    float: left;
    margin-left: 50px;
}

@media screen and (max-width: 1200px) {
    body {
        background-color: #FDD6A9;
    }
}

@media screen and (max-width: 800px) {
    body {
        background-color: #FDA9EC;
    }
}
