#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: lavender;
}

Button {
  font-size: 20px;
  padding: 0.5rem;
  background-color: lightskyblue;
  margin: 5px;
  width: 150px;
}

Button:hover {
  background-color: cyan;
}
