#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: lavender;
}

Button {
  font-size: 20px;
  padding: 0.5rem;
  background-color: lightskyblue;
  margin: 5px;
  width: 150px;
  border-radius: 10px;
}

/* Need to figure out how to keep the hover effect without making ALL buttons hover (with important) */
Button:not(.disabled):hover {
  background-color: cyan;
}


/* MEDIA QUERIES */

/* mobile screens (will change for screens less than 425px) */
@media screen and (max-width: 425px) {
  #root {
    background-color: lightgoldenrodyellow;
    padding: 10px;
    margin: 15px;
  }
  .word-btn {
    background-color: lavender !important;
  }
  .submit-btn {
    margin: 15px;
    border-radius: 30px !important;
    cursor: pointer;
    transition: all 0.3s ease !important;
  }
  .submit-btn:hover{
    background-color: seagreen !important;
    color: white;
    width: 200px;
    transform: scale(1.1);
  }
  h3{
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
    padding-bottom: 20px;
  }
}