.App {
  font-family: sans-serif;
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

form {
  border: 1px solid lightgray;
  padding: 20px;
  padding-top: 10px;
  border-radius: 5px;
  background-color: antiquewhite;
}

form label {
  display: block;
  margin-top: 10px;
  width: 100%;
  text-align: left;
}

/* form label::before,
form button::before {
  content: "\A";
} */

form button {
  display: block;
  margin-top: 30px;
  align-content: center;
}

form button:hover {
  background-color: pink;
}

form input,
form textarea {
  width: 300px;
  margin-top: 10px;
}

form textarea {
  min-height: 100px;
}

div.react-datepicker-wrapper {
  margin-left: 100px !important;
}
